* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 50px;
  background-image: url("frontend\src\images\The bus rides along the city road against the background of houses _ Tashaa36.jpeg");
}
